@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'REM', sans-serif;
  background: #181A20;
}

h1,h2,h3,h4,h5,h6,p{
  font-family: 'REM', sans-serif;;
}

/* .hello{
  color: #e1b507; 
} */